<header>
    <div class='container'>
        <%= image_tag "", class: "logo" %>
            <nav>
                <ul>
                    <li><%= link_to "home", to: 'home#index'  %></li>
                    <%
=begin%>
 <li><%= link_to "Sign Up",  %></li> 
<%
=end%>
                </ul>
            </nav>
    </div>
</header>
